.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.loader {
  border: 0.25rem solid var(--gray3);
  border-top: 0.25rem solid var(--blue10);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
