.form__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.label {
  text-transform: capitalize;
}

.input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: var(--gray3);
  border: 1px solid var(--gray7);
  color: var(--gray12);
}

.input:focus {
  background-color: var(--gray5);
  outline: 1px solid var(--gray8);
}

.input:disabled {
  background-color: var(--gray5);
  cursor: not-allowed;
}

.showBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  top: 47.5%;
  right: 0px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--gray6);
}

.showBtn:hover {
  background-color: var(--gray7);
}
