.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
}

.playlists {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.playlist {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--gray7);
  padding: 0.5rem;
}

.playlist__icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in__playlist {
  background-color: var(--green3);
  color: var(--green10);
  border: 1px solid var(--green7);
}
