.video__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.video {
  aspect-ratio: 16/9;
}

.video__information__container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
}

.video__title {
  padding-top: 0;
}

.video__icon {
  border-radius: 50%;
}

.actions__container {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.action {
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid var(--gray8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.25rem;
}

.action:hover {
  background-color: var(--blue4);
  color: var(--blue11);
}

.action:active {
  background-color: var(--blue5);
}

.action__icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: var(--blue3);
  color: var(--blue9);
}

.action__name {
  text-align: center;
}

.related__videos {
  display: grid;
  height: fit-content;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

@media screen and (min-width: 64em) {
  .video__container {
    grid-template-columns: 3fr 1fr;
  }
}
