.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 1rem;
}

.error {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__code {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.error__text {
  color: var(--gray11);
}
